[submodule "emulator/modules/tms9918"]
	path = emulator/modules/tms9918
	url = https://github.com/visrealm/vrEmuTms9918
[submodule "emulator/thirdparty/sdl"]
	path = emulator/thirdparty/sdl
	url = https://github.com/visrealm/SDL.git
[submodule "emulator/modules/cpu6502"]
	path = emulator/modules/cpu6502
	url = https://github.com/visrealm/cpu6502.git
[submodule "emulator/modules/ay38910"]
	path = emulator/modules/ay38910
	url = https://github.com/visrealm/emu2149.git
[submodule "emulator/modules/lcd"]
	path = emulator/modules/lcd
	url = https://github.com/visrealm/vrEmuLcd.git
[submodule "tools/emsdk"]
	path = tools/emsdk
	url = https://github.com/emscripten-core/emsdk.git
